version: '2.1'

services:
  base:
    container_name: base
    env_file:
      - .env
    image: base
    build:
      context: base
      args:
        - TZ=America/Los_Angeles
    entrypoint: /base/entrypoint.sh
    healthcheck:
      test: test -e /fuel-ui/npm_install.log
    volumes:
      - ./base:/base
      - ./fuel-ui:/fuel-ui
      - ./fuel-web:/fuel-web

  test:
    container_name: test
    image: base
    env_file:
      - .env
    volumes:
      - ./test:/test
      - ./fuel-ui:/fuel-ui
      - ./fuel-web:/fuel-web
    entrypoint: /test/entrypoint.sh
    ports:
      - "${NODE_PORT}"
      - "9000"
    depends_on:
      base:
        condition: service_healthy
      dev-server:
        condition: service_healthy
      selenium:
        condition: service_started

  db:
    container_name: db
    image: postgres:9.5
    ports:
      - "${NAILGUN_DB_PORT}"
    environment:
      - POSTGRES_PASSWORD=${DB_ROOTPW}
      - POSTGRES_USER=${DB_ROOT}
      - POSTGRES_DATABASE=${NAILGUN_DB}

  dev-server:
    container_name: dev-server
    env_file:
      - .env
    build:
      context: dev-server
      args:
        - FUEL_WEB_REQS=${FUEL_WEB_REQS}
    volumes:
      - ./dev-server:/dev-server
      - ./fuel-ui:/fuel-ui
      - ./fuel-web:/fuel-web
    entrypoint: /dev-server/entrypoint.sh
    ports:
      - "${NAILGUN_PORT}"
      - "${DEV_SERVER_PORT}"
    healthcheck:
      test: curl -s -w %{http_code} -o /dev/null http://dev-server:${NAILGUN_PORT}/api/version | grep -q 401
      interval: 20s
      timeout:  10s
      retries: 10

    depends_on:
      db:
        condition: service_started

  selenium:
    container_name: selenium
    build:
      context: selenium/
      args:
        - GECKODRIVER_VERSION=0.9.0
        - FIREFOX_VERSION=46.0
    env_file:
      - .env
    volumes:
      - ./selenium:/selenium
    user: seluser
    entrypoint: /selenium/entrypoint.sh
    ports:
      - "${SELENIUM_SERVER_PORT}"
